Source: salt-formula-cinder
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://github.com/openstack/salt-formula-cinder
Vcs-Git: https://github.com/openstack/salt-formula-cinder.git

Package: salt-formula-cinder
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Cinder Salt formula
 Install and configure Cinder server and client.
